.d-header .title a {
  display: inline-block;
  vertical-align: top;
}

.header-search-enabled #search-button {
  display: none;
}

.search-header {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin-left: 20px;
  padding-top: 5px;
  position: relative;
  white-space: nowrap;
  background-color: $secondary;

  &.show-header-results {
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
  }

  #search-term {
    background-color: $secondary;
    margin: 0;
    width: 100%;
  }

  .searching .spinner {
    display: none;
  }

  .search-icon {
    float: right;
    border: 1px solid mix($primary, $secondary);
    border-left: none;
  }

  .search-input {
    overflow: hidden;
  }

  .search-context {
    padding: 0;
    margin: 5px;

    label {
        float: left;
    }
  }

  .results {
    border-top: none;
    width: 100%;
    white-space: normal;

    ul {
      list-style-type: none;
      margin: 0 5px 5px 5px;
    }

    .heading {
      padding: 5px 0 5px 5px;

      .filter {
        padding: 0 5px;
      }
    }

    .no-results {
      padding: 5px;
      text-align: center;
    }

    .search-link {
      .badge-category-parent {
        line-height: 0.8em;
      }
      .topic-title {
        margin-right: 6px;
      }

      .topic-statuses {
        float: none;
        display: inline-block;
        color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
        margin: 0;
        .fa {
          margin: 0;
        }
      }
    }

    li:not(.category):not(.heading) {
      font-size: 0.929em;
      line-height: 16px;

      .fa {
        font-size: inherit;
      }

      a {
        display: block;
        padding: 5px;
        transition: all linear .15s;
      }

      &:hover a:not(.badge-notification) {
        background-color: dark-light-diff($highlight, $secondary, 50%, -55%);
      }

      button {
        margin-left: 5px;
      }
    }
  }
}
